header{
    display: flex;
    height: 6.5rem;
    border-bottom: 1px solid #132f4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
.logo{
    width:40px;
    height:40px;
}
header a{
    text-decoration: none;
    font-weight: bold;
}
.right
{
    display: flex;
    margin-right:40%;
}
header .btn{
    padding: 0.2rem 2.5rem;
    line-height: 3rem;
    background-color: #1DB954;
    border:none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    margin: 0 0.5rem;
    cursor: pointer;
}
header .btn:hover{
    background-color: white;
    color: black;
}
